@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(64 83 27);
  opacity: 1;
  height: 100vh;
}

.add-noise {
  display: block;
  background: url('./assets/Noise.svg');
  height: 100%;
  width: 100%;
  background-size: 10%;
  opacity: 1;
}

.splitting .char {
  animation: slide-in 1s cubic-bezier(0.5, 0, 0.5, 1) both;
  animation-delay: calc(60ms * var(--char-index));
}

@keyframes slide-in {
  from {
    transform: translateY(-1em) rotate(-0.5turn) scale(0.5);
    opacity: 0;
  }
}
